.experts {
	margin-top: 100px;
	background: #fafbfd;
}
.experts__container {
}
.experts__header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
}
.header-experts-wrapper {
	position: relative;
}
.header-experts {
	display: flex;
	padding: 28px 80px;
	background-color: #fff;
	box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
	border-radius: 16px;
	margin: 50px 75px 30px 30px;
	position: relative;
	z-index: 3;
}

.header-experts-wrapper::before,
.header-experts-wrapper::after {
	content: '';
	display: block;
	background-color: #ec5863;
}
.header-experts-wrapper::before {
	transform: rotate(-30deg);
	border-radius: 16px;
	position: absolute;
	width: 65.75px;
	height: 65.75px;
	left: 10px;
	bottom: 0px;
	z-index: 1;
}
.header-experts-wrapper::after {
	position: absolute;
	width: 96.96px;
	height: 96.96px;
	left: 38%;
	top: 0px;
	border-radius: 30px;
	transform: rotate(105deg);
	z-index: 1;
}

.header-experts-wrapper > span::after {
	content: '';
	position: absolute;
	width: 127.47px;
	height: 127.47px;
	right: 20px;
	top: 40px;
	background: #ec5863;
	border-radius: 30px;
	transform: rotate(-30deg);
}
.header-experts__column + .header-experts__column {
	margin-left: 80px;
}
.header-experts__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.header-experts__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 119.444444%; /* 43/36 */
	letter-spacing: 0.14em;
	color: #ec5863;
}
.header-experts__title + * {
	padding-top: 5px;
}
.header-experts__text {
	font-weight: 700;
	font-size: 11px;
	line-height: 118.181818%; /* 13/11 */
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 0.37em;
}

@media (max-width: 992px) {
	.experts {
		margin-top: 80px;
	}
	.experts__header {
		margin-bottom: 60px;
	}
	.header-experts {
		padding: 28px 60px;
	}
	.header-experts__column + .header-experts__column {
		margin-left: 60px;
	}
}
@media (max-width: 768px) {
	.experts {
		margin-top: 60px;
	}
	.experts__header {
		margin-bottom: 50px;
	}
	.header-experts {
		margin: 35px 50px 20px 20px;
	}
	.header-experts__column + .header-experts__column {
		margin-left: 50px;
	}

	.header-experts__title {
		font-size: 28px;
	}
	.header-experts__text {
		font-size: 9px;
		letter-spacing: 0.3em;
	}
	.header-experts-wrapper::before {
		width: 55.75px;
		height: 55.75px;
		left: 10px;
		bottom: 0px;
	}
	.header-experts-wrapper::after {
		width: 79.96px;
		height: 79.96px;
		left: 38%;
		top: 0px;
	}

	.header-experts-wrapper > span::after {
		width: 110.47px;
		height: 110.47px;
		right: 20px;
		top: 30px;
	}
}

@media (max-width: 568px) {
	.header-experts-wrapper::before {
		width: 48.75px;
		height: 48.75px;
		left: 10px;
		bottom: 0px;
	}
	.header-experts-wrapper::after {
		width: 70.96px;
		height: 70.96px;
		left: 38%;
		top: 0px;
	}

	.header-experts-wrapper > span::after {
		width: 100.47px;
		height: 100.47px;
		right: 20px;
		top: 30px;
	}
	.header-experts {
		flex-direction: column;
	}
	.header-experts {
		padding: 28px 60px;
		margin: 25px 25px 5px 25px;
	}
	.header-experts__column + .header-experts__column {
		margin-left: 0px;
		margin-top: 15px;
	}

	.header-experts-wrapper > span::after {
		right: 10px;
		top: 60px;
	}
}

/* ================================ experts content ++++++++++++++++++++++++++++++++++++++++++++ */
.experts__content {
	display: flex;
	align-items: center;
}
.experts-content {
	flex: 1 1 50%;
}
.experts-content-media {
	flex: 1 1 50%;
}
.experts-content__wrapper {
	max-width: 393px;
}

@media (max-width: 768px) {
	.experts__content {
		flex-direction: column;
		row-gap: 30px;
	}
	.experts-content {
		align-items: center;
		justify-content: center;
	}
	.experts-content-media {
		align-items: center;
		justify-content: center;
	}
}
