@import url(reset.css);
@import url(header.css);
@import url(health.css);
@import url(stay-safe.css);
@import url(experts.css);
@import url(healthcare.css);

body,
html {
	font-family: 'Rubik';
	font-size: 14px;
	color: #616161;
	height: 100%;
	background-color: #fafbfd;
	overflow-x: hidden;
}

body.burger-active {
	overflow-y: hidden;
}
/*===================================================== */

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 1 auto;
}
.footer {
}
[class*='__container'] {
	max-width: 1087px;
	padding: 0 15px;
	margin: 0 auto;
}
/*===================================================== */
.title__blue,
.title__red {
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;
	font-feature-settings: 'pnum' on, 'lnum' on;
	color: #000000;
	margin-bottom: 12px;
}
.title__blue span {
	color: #4285f4;
}
.title__red span {
	color: #ec5863;
}
.text {
	font-weight: 400;
	font-size: 12px;
	line-height: 138.5%;
	letter-spacing: 0.08em;
	font-feature-settings: 'pnum' on, 'lnum' on;
	margin-bottom: 24px;
}

.btn {
	font-family: 'Raleway';
	font-weight: 800;
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 0.14em;
	color: #fcfdfe;
	max-width: 144px;

	background-color: #ec5863;
	border-radius: 5px;
	padding: 14px 29px;
	transition: background 0.2s ease-in-out;
	cursor: pointer;
}

@media (max-width: 991.98px) {
	.btn {
		padding: 10px 22px;
	}
}

.btn--blue {
	background-color: #4285f4;
}
.btn.btn:hover {
	background-color: #4285f4;
}
.btn.btn--blue:hover {
	background-color: #ec5863;
}

._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 4;
}
/*===================================================== */
@media (max-width: 767.98px) {
	.hamburger-button {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 2.5rem;
		width: 2.5rem;
		cursor: pointer;
	}

	.hamburger-button-top,
	.hamburger-button-middle,
	.hamburger-button-bottom {
		height: 4px;
		background: black;
		border-radius: 5px;
		margin: 3px 0px;
		transform-origin: left;
		transition: all 0.5s;
	}

	body.burger-active .hamburger-button-top {
		transform: rotate(45deg);
		background: rgb(255, 255, 255);
	}

	body.burger-active .hamburger-button-middle {
		opacity: 0;
	}

	body.burger-active .hamburger-button-bottom {
		transform: rotate(-45deg);
		background: rgb(255, 255, 255);
	}
}

/*===================================================== */

/*===================================================== */

/*===================================================== */
